.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 10px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 36px 50px 32px;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
  opacity: 0.4;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 36px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
}

.modal__input {
  box-sizing: border-box;
  height: 52px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  transition: opacity linear 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    margin: 0 0 34px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    box-sizing: border-box;
    height: 48px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
