.profile {
  box-sizing: border-box;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar-container {
  position: relative;
  margin: 0 20px 0 0;
}

.profile__avatar {
  padding: 0;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  padding: 0 0 12px 0;
  transition: opacity 0.2s linear;
  color: rgba(255, 255, 255, 1);
}

/*Show the button when hoving over the profile avatar image*/
.profile__avatar-container:hover .profile__avatar-btn {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  padding-left: 8px;
}

.profile__column {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin: auto 0 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(33, 33, 33, 1);
  background-color: transparent;
  border: none;
  text-align: left;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  transition: opacity 0.2s linear;
  max-width: 110px;
}

.profile__edit-btn:hover {
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  background-color: rgb(33, 33, 33);
  color: rgb(252, 245, 229);
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.2s linear;
}

.profile__add-btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  .profile__avatar-btn {
    width: 23.34px;
    height: 23.34px;
    top: 52px;
    left: 52px;
    border-radius: 6px;
    background: rgba(33, 33, 33, 0.6);
    opacity: 1;
    transition: none;
    display: block;
    padding-top: 4px;
  }

  .profile__avatar-container:hover .profile__avatar-btn {
    transition: none;
  }

  .profile__avatar-btn::after {
    content: none;
    padding-left: 8px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
    text-align: center;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
